.rollNum {
    padding-top: 5px;
    width: 930px;
    height: 296px;
    background: url("./img/background.png") no-repeat;
    background-size: 100% 100%;
    .rollNum-header{
        width: 100%;
        height: 75px;
        background: url("./img/title.png") no-repeat 20px 25px;
        padding-right:10px;
        .navChartChange{
            margin-top: 10px;
        }
    }
    ul {
        width: 100%;
        height: calc(100% - 75px);
        padding: 0px 12px;
        li {
            width: 110px;
            height: 100%;
            padding-top:10px;
            .rollNum-roll-icon{
                width: 60px;
                height: 60px;
                .leijiicon {
                    position: absolute;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate3d(-50%, -50%, 0);
                    transform: translate3d(-50%, -50%, 0);
                    top: 48%;
                }
            }
            .icon-title-text{
                color: #ffffff;
                font-size: 16px;
                line-height: 14px;
            }
            .icon-title-num{
                color: #fed700;
                font-size: 30px;
                font-family:nums;
            }
            .rollNum-title{
                color: #49d9fe;
                font-size: 16px;
                &.add{
                    margin-top: 20px;
                    line-height: 20px;
                }
            }
        }
    }
}
