.intelligentAnalytics {
  height: 100%;
  width: 100%;
  .intelligentAnalytics_left{
     width: 580px;
     height: 100%;
  }
  .intelligentAnalytics_center{
    width: 638px;
    height: 100%;
    padding-top: 5px;
  }
  .intelligentAnalytics_left{
    width: 580px;
    height: 100%;
  }
}