@keyframes run {
    0% {
        background-position: 0px 0;
    }
    25% {
        background-position: 0px -20px;
    }
    50% {
        background-position: 0px -40px;
    }
    75% {
        background-position: 0px -60px;
    }
    100% {
        background-position: 0px -80px;
    }
}
.screen_header {
    width: 1920px;
    height: 88px;
    position: absolute;
    z-index: 10;
    .screen_header_left{
        padding-left: 40px;
        font-family: FZZCHJW;
        font-size: 36px;
        color: #ffffff;
    }
    .screen_header_right {
        width: 322px;
        height: 89px;
        padding-right: 30px;
        box-sizing: border-box;

        .screen_timer {
            font-family: nums;
            color: #53a3f5;
            font-size: 24px;
        }

        .screen_week {
            color: #53a3f5;
            font-size: 20px;
        }
    }
    .screen_header_center{
        padding-top: 50px;
        .screen_header_center-left{
            width: 42px;
            height: 20px;
            background: url('img/jiantou1.png') no-repeat;
            -webkit-animation: run 0.8s steps(1, end) infinite;
            animation: run 0.8s steps(1, end) infinite;
            overflow: hidden;
        }
        .screen_header_center-right{
            width: 42px;
            height: 20px;
            background: url('img/youyou1.png') no-repeat;
            -webkit-animation: run 0.8s steps(1, end) infinite;
            animation: run 0.8s steps(1, end) infinite;
            overflow: hidden;
        }
        .screen_header_center-main{
            margin: 0px 10px;
            width: 1012px;
            height: 104px;
            background: url('img/line.png') no-repeat center center;
            padding: 0px 140px;
        }
        .item{
            width: 100px;
            cursor: pointer;
            .none{
                width: 113px;
                height: 30px;
                background: url('img/checked.png') no-repeat center 6px;
                opacity: 0;
                transition: opacity 0.3s;
            }
            .item_icon{
                width: 27px;
                height: 27px;
                span{
                    font-size: 26px;
                    color: #189bf3;
                    transition: color 0.3s;
                }
            }
            .item_text{
                font-family: TRENDS;
                font-size: 22px;
                letter-spacing: 2px;
                color: #189bf3;
                transition: color 0.3s;
            }
            &.active{
                .none{
                    opacity: 1;
                }
                .item_icon span{
                    color: #ffffff;
                }
                .item_text{
                    color: #ffffff;
                }
            }
        }
    }
}
