.specialized-analysis-page{
  height: 100%;
  width: 100%;
  .specialized-analysis_left{
    width: 716px;
    height: 100%;
  }
  .specialized-analysis_center{
    width: 540px;
    height: 100%;
  }
  .specialized-analysis_right{
    width: 540px;
    height: 100%;
  }
}