.panel {
  height: 211px;
  width: 580px;
  background: url("img/background.png") no-repeat;
  background-size: 100% 100%;
  .header {
    width: 100%;
    height: 75px;
    background: url("img/title.png") no-repeat 20px 25px;
    padding-right:10px;
  }
  .card-item {
    width: 100%;
    height: 127px;
    padding-left: 20px;
    .item {
      margin-left: 20px;
      margin-top: 26px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}