.filesList {
    width: 420px;
    height: 100%;
    background: url("./img/background.png") no-repeat;
    background-size: 100% 100%;
    .header {
        width: 100%;
        height: 75px;
        background: url("./img/title.png") no-repeat 20px 25px;
    }
    
    .content {
        width: 100%;
        height: 830px;
        overflow: hidden;
        padding: 15px 20px 0px 20px;
        .seamless-warp {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        ul {
            width: 100%;
            
            li {
                width: 394px;
                height: 350px;
                background-color: silver;
                margin-bottom: 20px;
                cursor: pointer;
                background: url("./img/listbc.png");
                background-size: 100%;
                position: relative;
                .statue{
                    position: absolute;
                    width: 94px;
                    height: 134px;
                    top: 27px;
                    right: 25px;
                    background:url("./img/weichuli.png")no-repeat;
                    padding-top: 30px;
                    span{
                        z-index: 20;
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                        @include center-translate(x)
                    }
                }
                .yichuli{
                    background:url("./img/yichuli.png") no-repeat;
                }
                .item-header {
                    width: 100%;
                    height: 57px;
                    background: url("./img/anjuan.png") no-repeat 21px center;
                    padding-left: 51px;
                    padding-right: 30px;
                    .item-title {
                        height: 100%;
                        width: 200px;
                        color: #ffffff;
                        font-size: 18px;
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        line-height: 58px;
                        
                    }
                    .item-timer{
                        color: #74c1fc;
                        font-size: 16px;
                    }
                }
                .item-content{
                    height: 182px;
                    width: 100%;
                    padding-left: 20px;
    
                    .img-box{
                        width: 310px;
                        height: 180px;
                        border: 1px solid #fed700;
                        overflow: hidden;
                        img{
                            width: 308px;
                            //height: auto;
                        }
                        &.blue{
                            border: 1px solid #49d9fe;
                        }
                    }
                }
                .item-footer{
                    width: 100%;
                    margin: 0 auto;
                    padding-top: 10px;
                    padding-left: 52px;
                    padding-right: 35px;
                    .fenlei{
                        display: inline-block;
                        height: 16px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        line-height: 16px;
                        span{
                            @include first(1){
                                color: #ffffff;
                                font-size: 16px;
                                
                            }
                            @include last(1){
                                color: #74c1fc;
                                font-size: 16px;
                                padding-left: 5px;
                                overflow: hidden;
                                text-overflow:ellipsis;
                                white-space: nowrap;
    
                            }
                        }
                    }
                    .mishu{
                        height: 58px;
                        width: 100%;
                        position: relative;
                        span{
                            @include first(1){
                                color: #ffffff;
                                font-size: 16px;
                                position: absolute;
                            }
                            @include last(1){
                                color: #74c1fc;
                                font-size: 16px;
                                text-indent:3.2em;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            
            }
        }
    }
}
